In [1]:
#import numpy, pandas 
import numpy as np
import pandas as pd

# import SelectFromModel, train_test_split, DecisionTreeClassifier, StandardScaler
from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import StandardScaler


# import RandomForestClassifier, roc_auc_score, StandardScaler, make_pipeline, KFold, KNeighborsRegressor

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import KFold
from sklearn.neighbors import KNeighborsRegressor



# import mean_squared_error, r2_score, cross_val_predict, LinearRegression, sqrt
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import cross_val_predict
from sklearn.linear_model import LinearRegression
from math import sqrt


# Note: just have a look what all libraries you have imported

In [2]:
# create a data frame named diabetes and load the csv file
diabetes =pd.read_csv("diabetes.csv")
#print the head 
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
#Glucose BloodPressure, SkinThickness, Insulin, and BMI features cannot be zero ,we will impute zeros with nan value in these features.
zero_features = ['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']
diabetes[zero_features] = diabetes[zero_features].replace(0, np.nan)

In [4]:
#display the no of null values in each feature
diabetes.isnull().sum()

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

Now let's see for each feature what is the percentage of having missing values.

In [5]:
#percentage of missing values for Glucose(sum null values , divide by length and multiply by 100)
glucose_missing_percentage = (diabetes['Glucose'].isnull().sum() / len(diabetes['Glucose'])) * 100
glucose_missing_percentage

0.6510416666666667

In [6]:
# calculate the percentage for Bloodpressure
blood_pressure_missing_percentage = (diabetes['BloodPressure'].isnull().sum() / len(diabetes['BloodPressure'])) * 100
blood_pressure_missing_percentage

4.557291666666666

In [7]:
# calculate the percentage for SkinThickness
SkinThickness_missing_percentage = (diabetes['SkinThickness'].isnull().sum() / len(diabetes['SkinThickness'])) * 100
SkinThickness_missing_percentage

29.557291666666668

In [8]:
# calculate the percentage for Insulin
Insulin_missing_percentage = (diabetes['Insulin'].isnull().sum() / len(diabetes['Insulin'])) * 100
Insulin_missing_percentage

48.69791666666667

In [9]:
# calculate the percentage for BMI
BMI_missing_percentage = (diabetes['BMI'].isnull().sum() / len(diabetes['BMI'])) * 100
BMI_missing_percentage

1.4322916666666665

In [10]:
#we are keep only those features which are having missing data less than 10% 

diabetes_missing_value_threshold = diabetes.dropna(how='all',thresh=int(diabetes.shape[0]* .9),axis=1)
# print diabetes_missing_value_threshold 
diabetes_missing_value_threshold
''''NOTE :actually the question is mistaken so i refered assignment video for the clearity because my output is mismatched
in that assignment video also they explained for greater than 90% but question is less than 10% so i proceeded
for assignment answer itself.'''

"'NOTE :actually the question is mistaken so i refered assignment video for the clearity because my output is mismatched\nin that assignment video also they explained for greater than 90% but question is less than 10% so i proceeded\nfor assignment answer itself."

In [11]:

diabetes_missing_value_threshold_features = diabetes_missing_value_threshold.drop('Outcome',axis=1)

diabetes_missing_value_threshold_label= diabetes_missing_value_threshold['Outcome']

In [12]:
#print diabetes_missing_value_threshold_features

diabetes_missing_value_threshold_features

     Pregnancies  Glucose  BloodPressure   BMI  DiabetesPedigreeFunction  Age
0              6    148.0           72.0  33.6                     0.627   50
1              1     85.0           66.0  26.6                     0.351   31
2              8    183.0           64.0  23.3                     0.672   32
3              1     89.0           66.0  28.1                     0.167   21
4              0    137.0           40.0  43.1                     2.288   33
..           ...      ...            ...   ...                       ...  ...
763           10    101.0           76.0  32.9                     0.171   63
764            2    122.0           70.0  36.8                     0.340   27
765            5    121.0           72.0  26.2                     0.245   30
766            1    126.0           60.0  30.1                     0.349   47
767            1     93.0           70.0  30.4                     0.315   23

[768 rows x 6 columns]

In [13]:
#print diabetes_missing_value_threshold_label
diabetes_missing_value_threshold_label

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [14]:
# load the csv to dataframe name "diabetes" and print the head values
diabetes =pd.read_csv('diabetes_cleaned.csv')

# print head
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.0,218.937760,33.6,0.627,50.0,1
1,1.0,85.0,66.0,29.0,70.189298,26.6,0.351,31.0,0
2,8.0,183.0,64.0,29.0,269.968908,23.3,0.672,32.0,1
3,1.0,89.0,66.0,23.0,94.000000,28.1,0.167,21.0,0
4,0.0,137.0,40.0,35.0,168.000000,43.1,2.288,33.0,1

In [15]:
diabetes.shape

(768, 9)

In [16]:
# seperate the features and the target as x and y 
X =diabetes.iloc[:,0:8]
Y =diabetes.iloc[:,-1]

If you have seen the video then Krish must have told you to use sklearn library to calculate variance threshold. But we will use var function to calculate our variance so that you understand the concept from base.

In [17]:
# Return  the variance for X along the specified axis=0.
variance = np.var(X,axis=0)
variance

Pregnancies                   11.339272
Glucose                      928.469828
BloodPressure                146.131068
SkinThickness                 77.184935
Insulin                     9471.909972
BMI                           48.750058
DiabetesPedigreeFunction       0.109636
Age                          138.122964
dtype: float64

In [18]:
# import minmax_scale
from sklearn.preprocessing import minmax_scale

# use minmax scale with feature_range=(0,10) and columns=X.columns,to scale the features of dataframe and store them into X_scaled_df 
feature_range = (0, 10)

# Scale the features using min-max scaling
scaled_values = minmax_scale(X.values, feature_range=feature_range, axis=0)

# Create a new DataFrame with the scaled values and original column names
X_scaled_df = pd.DataFrame(scaled_values, columns=X.columns)

In [19]:
# return X_scaled_df
X_scaled_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,3.529412,6.709677,4.897959,3.043478,2.740295,3.149284,2.344150,4.833333
1,0.588235,2.645161,4.285714,2.391304,1.018185,1.717791,1.165670,1.666667
2,4.705882,8.967742,4.081633,2.391304,3.331099,1.042945,2.536294,1.833333
3,0.588235,2.903226,4.285714,1.739130,1.293850,2.024540,0.380017,0.000000
4,0.000000,6.000000,1.632653,3.043478,2.150572,5.092025,9.436379,2.000000
...,...,...,...,...,...,...,...,...
763,5.882353,3.677419,5.306122,4.456522,2.289500,3.006135,0.397096,7.000000
764,1.176471,5.032258,4.693878,2.173913,2.044244,3.803681,1.118702,1.000000
765,2.941176,4.967742,4.897959,1.739130,1.502241,1.635992,0.713066,1.500000
766,0.588235,5.290323,3.673469,2.391304,2.217956,2.433538,1.157131,4.333333
767,0.588235,3.161290,4.693878,2.608696,1.215086,2.494888,1.011956,0.333333

In [20]:
# Again return  the variance for X along the specified axis=0 to check the scales after using minmax scaler.
var = np.var(X_scaled_df, axis=0)
var

Pregnancies                 3.923624
Glucose                     3.864599
BloodPressure               1.521565
SkinThickness               0.911920
Insulin                     1.269563
BMI                         2.038719
DiabetesPedigreeFunction    1.998841
Age                         3.836749
dtype: float64

Now again you can check the previous video

In [21]:
# import variancethreshold

from sklearn.feature_selection import VarianceThreshold


# set threshold=1 and define it to variable select_features
threshold = 1
select_features =VarianceThreshold(threshold=threshold)

In [22]:
X_variance_threshold_df = select_features.fit_transform(X_scaled_df)

In [23]:
#print X_variance_threshold_df
X_variance_threshold_df

array([[3.52941176, 6.70967742, 4.89795918, ..., 3.14928425, 2.3441503 ,
        4.83333333],
       [0.58823529, 2.64516129, 4.28571429, ..., 1.71779141, 1.16567037,
        1.66666667],
       [4.70588235, 8.96774194, 4.08163265, ..., 1.04294479, 2.53629377,
        1.83333333],
       ...,
       [2.94117647, 4.96774194, 4.89795918, ..., 1.63599182, 0.71306576,
        1.5       ],
       [0.58823529, 5.29032258, 3.67346939, ..., 2.43353783, 1.15713066,
        4.33333333],
       [0.58823529, 3.16129032, 4.69387755, ..., 2.49488753, 1.01195559,
        0.33333333]])

In [24]:
#Convert X_variance_threshold_df into dataframe
X_variance_threshold_df = pd.DataFrame(X_variance_threshold_df)

In [25]:
# print of head values of X_variance_threshold_df 
num_rows = 5  # Number of rows to display
X_variance_threshold_df[:num_rows]

          0         1         2         3         4         5         6
0  3.529412  6.709677  4.897959  2.740295  3.149284  2.344150  4.833333
1  0.588235  2.645161  4.285714  1.018185  1.717791  1.165670  1.666667
2  4.705882  8.967742  4.081633  3.331099  1.042945  2.536294  1.833333
3  0.588235  2.903226  4.285714  1.293850  2.024540  0.380017  0.000000
4  0.000000  6.000000  1.632653  2.150572  5.092025  9.436379  2.000000

In [26]:
def get_selected_features(raw_df,processed_df):
    selected_features=[]
    for i in range(len(processed_df.columns)):
        for j in range(len(raw_df.columns)):
            if (processed_df.iloc[:,i].equals(raw_df.iloc[:,j])):
                selected_features.append(raw_df.columns[j])
    return selected_features

In [27]:
# pass the X_scaled_df as raw_df and X_variance_threshold_df as processed_df inside get_selected_features function
selected_features = get_selected_features(X_scaled_df,X_variance_threshold_df)

# print selected_features
selected_features

['Pregnancies',
 'Glucose',
 'BloodPressure',
 'Insulin',
 'BMI',
 'DiabetesPedigreeFunction',
 'Age']

In [28]:
# define selected_features as columns and save it in variabe named X_variance_threshold_df
X_variance_threshold_df.columns = selected_features

#print X_variance_threshold_df
X_variance_threshold_df

,Pregnancies,Glucose,BloodPressure,Insulin,BMI,DiabetesPedigreeFunction,Age
0,3.529412,6.709677,4.897959,2.740295,3.149284,2.344150,4.833333
1,0.588235,2.645161,4.285714,1.018185,1.717791,1.165670,1.666667
2,4.705882,8.967742,4.081633,3.331099,1.042945,2.536294,1.833333
3,0.588235,2.903226,4.285714,1.293850,2.024540,0.380017,0.000000
4,0.000000,6.000000,1.632653,2.150572,5.092025,9.436379,2.000000
...,...,...,...,...,...,...,...
763,5.882353,3.677419,5.306122,2.289500,3.006135,0.397096,7.000000
764,1.176471,5.032258,4.693878,2.044244,3.803681,1.118702,1.000000
765,2.941176,4.967742,4.897959,1.502241,1.635992,0.713066,1.500000
766,0.588235,5.290323,3.673469,2.217956,2.433538,1.157131,4.333333
767,0.588235,3.161290,4.693878,1.215086,2.494888,1.011956,0.333333

In [29]:
def generate_feature_scores_df(X,Score):
    feature_score=pd.DataFrame()
    for i in range(X.shape[1]):
        new =pd.DataFrame({"Features":X.columns[i],"Score":Score[i]},index=[i])
        feature_score=pd.concat([feature_score,new])
    return feature_score

In [30]:
# create a data frame named diabetes and load the csv file again
diabetes = pd.read_csv('diabetes.csv')

In [31]:
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [32]:
# assign features to X variable and 'outcome' to y variable from the dataframe diabetes
X =diabetes.iloc[:,0:8]
Y =diabetes.iloc[:,-1]

In [33]:
#import chi2 and SelectKBest
from sklearn.feature_selection import chi2, SelectKBest

In [34]:
# converting data cast to a float type.
X = X.astype(float)

In [35]:
# Initialise SelectKBest with above parameters 
k=4
chi2_test =SelectKBest(score_func=chi2, k=k)

# and fit it with X and Y
chi2_model = chi2_test.fit(X,Y)

In [36]:
#print the scores of chi2_model
print(chi2_model.scores_)

[ 111.51969064 1411.88704064   17.60537322   53.10803984 2175.56527292
  127.66934333    5.39268155  181.30368904]

In [37]:
# use generate_feature_scores_df function to get features and their respective scores passing X and chi2_model.scores_ as paramter
scores = chi2_model.scores_
feature_score_df = generate_feature_scores_df(X,scores)



# return feature_score_df
feature_score_df

                   Features        Score
0               Pregnancies   111.519691
1                   Glucose  1411.887041
2             BloodPressure    17.605373
3             SkinThickness    53.108040
4                   Insulin  2175.565273
5                       BMI   127.669343
6  DiabetesPedigreeFunction     5.392682
7                       Age   181.303689

In [38]:
##Lets get X to the selected features of chi2_model using tranform function so we will have X_new
X_new =chi2_model.transform(X)

In [39]:
# create a dataframe using X_new
X_new=pd.DataFrame(X_new)

In [40]:
#repeat the previous steps of calling get_selected_features function( pass X and X_new as score in the function)
score = X_new
selected_features =get_selected_features(X,score)

# return selected_features

selected_features

['Glucose', 'Insulin', 'BMI', 'Age']

In [41]:
# X with all features given in list selected_features 
chi2_best_features = X[selected_features]

# print chi2_best_features.head()
chi2_best_features.head()

   Glucose  Insulin   BMI   Age
0    148.0      0.0  33.6  50.0
1     85.0      0.0  26.6  31.0
2    183.0      0.0  23.3  32.0
3     89.0     94.0  28.1  21.0
4    137.0    168.0  43.1  33.0

In [42]:
#import libraries f_classif,SelectPercentile from sklearn

from sklearn.feature_selection import f_classif, SelectPercentile


# Initialise SelectPercentile function with parameters f_classif and percentile as 80
Anova_test = SelectPercentile(score_func=f_classif, percentile=80)

#Fit the above object to the features and target i.e X and Y
Anova_model= Anova_test.fit(X,Y)

In [43]:
# return scores of anova model

Anova_model.scores_

array([ 39.67022739, 213.16175218,   3.2569504 ,   4.30438091,
        13.28110753,  71.7720721 ,  23.8713002 ,  46.14061124])

In [44]:
# use generate_feature_scores_df function to get features and their respective scores by passing X and Anova_model.scores_ as score in function 
scores = Anova_model.scores_
feature_scores_df = generate_feature_scores_df(X,scores)
feature_scores_df

                   Features       Score
0               Pregnancies   39.670227
1                   Glucose  213.161752
2             BloodPressure    3.256950
3             SkinThickness    4.304381
4                   Insulin   13.281108
5                       BMI   71.772072
6  DiabetesPedigreeFunction   23.871300
7                       Age   46.140611

In [45]:
# Get all supported columns values in Anova_model with indices=True
cols = Anova_model.get_support(indices=True)
# Reduce X to the selected features of anova model using tranform 
X_new = Anova_model.transform(X)

In [46]:
#print X_new.head()
X_new = pd.DataFrame(X_new)

In [47]:
X_new.head()

     0      1      2     3      4     5
0  6.0  148.0    0.0  33.6  0.627  50.0
1  1.0   85.0    0.0  26.6  0.351  31.0
2  8.0  183.0    0.0  23.3  0.672  32.0
3  1.0   89.0   94.0  28.1  0.167  21.0
4  0.0  137.0  168.0  43.1  2.288  33.0

In [48]:
# load and read the csv using pandas and print the head values
diabetes = pd.read_csv('diabetes.csv')

# print head
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [49]:
# assign features to X and target 'outcome' to Y(Think why the 'outcome' column is taken as the target)
X = diabetes.iloc[:,0:8]
Y = diabetes.iloc[:,-1]

#return X,Y
X,Y

(     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
 0              6      148             72             35        0  33.6
 1              1       85             66             29        0  26.6
 2              8      183             64              0        0  23.3
 3              1       89             66             23       94  28.1
 4              0      137             40             35      168  43.1
 ..           ...      ...            ...            ...      ...   ...
 763           10      101             76             48      180  32.9
 764            2      122             70             27        0  36.8
 765            5      121             72             23      112  26.2
 766            1      126             60              0        0  30.1
 767            1       93             70             31        0  30.4

      DiabetesPedigreeFunction  Age
 0                       0.627   50
 1                       0.351   31
 2                       0.672   32
 3                       0.167   21
 4                       2.288   33
 ..                        ...  ...
 763                     0.171   63
 764                     0.340   27
 765                     0.245   30
 766                     0.349   47
 767                     0.315   23

 [768 rows x 8 columns],
 0      1
 1      0
 2      1
 3      0
 4      1
       ..
 763    0
 764    0
 765    0
 766    1
 767    0
 Name: Outcome, Length: 768, dtype: int64)

In [50]:
# import required libraries RFE, LogisticRegression and dependencies
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

In [51]:
# Initialise model variable with LogisticRegression function with solver = 'liblinear'
model = LogisticRegression(solver = 'liblinear')

# rfe variable has RFE instance with should have model and n_features_to_select=4 as parameters
rfe = RFE(estimator=model,n_features_to_select=4)

In [52]:
# fit rfe with X and Y
fit =rfe.fit(X,Y)

In [53]:
# print fit.n_features_, fit.support_, fit.ranking_
print('Number of Selected features ' ,fit.n_features_)
print('Selected Features ',fit.support_)
print('Feature ranking ',fit.ranking_)

Number of Selected features  4
Selected Features  [ True  True False False False  True  True False]
Feature ranking  [1 1 2 4 5 1 1 3]

In [54]:
# use below function to get ranks of all the features
def feature_ranks(X,Rank,Support):
    feature_rank=pd.DataFrame()
    for i in range(X.shape[1]):
        new =pd.DataFrame({"Features":X.columns[i],"Rank":Rank[i],'Selected':Support[i]},index=[i])
        feature_rank=pd.concat([feature_rank,new])
    return feature_rank

In [65]:
#Get all feature's ranks using feature_ranks function with suitable parameters in variable called feature_rank_df
feature_rank_df =feature_ranks(X,rfe.ranking_, rfe.support_)
# print feature_rank_df
feature_rank_df

                   Features  Rank  Selected
0               Pregnancies     1      True
1                   Glucose     1      True
2             BloodPressure     2     False
3             SkinThickness     4     False
4                   Insulin     5     False
5                       BMI     1      True
6  DiabetesPedigreeFunction     1      True
7                       Age     3     False

In [66]:
# filter feature_rank_df  with selected column values as True and save it variable called recursive_feature_names 
recursive_feature_names = feature_rank_df[feature_rank_df['Selected'] == True]

# print recursive_feature_names
recursive_feature_names

                   Features  Rank  Selected
0               Pregnancies     1      True
1                   Glucose     1      True
5                       BMI     1      True
6  DiabetesPedigreeFunction     1      True

In [64]:
# finally get all the features selected by RFE in dataframe X and this result in variable called RFE_selected_features
RFE_selected_features = X[recursive_feature_names['Features'].values]

# print RFE head()
RFE_selected_features

     Pregnancies  Glucose   BMI  DiabetesPedigreeFunction
0              6      148  33.6                     0.627
1              1       85  26.6                     0.351
2              8      183  23.3                     0.672
3              1       89  28.1                     0.167
4              0      137  43.1                     2.288
..           ...      ...   ...                       ...
763           10      101  32.9                     0.171
764            2      122  36.8                     0.340
765            5      121  26.2                     0.245
766            1      126  30.1                     0.349
767            1       93  30.4                     0.315

[768 rows x 4 columns]

In [67]:
#Importing libraries pd, RandomForestClassifier, SelectFromModel
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

In [68]:
# load the csv file using pandas and print the head values
diabetes = pd.read_csv('diabetes.csv')

# print head
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [69]:
# assign features to X and target 'outcome' to Y(Think why the 'outcome' column is taken as the target)
X = diabetes.iloc[:,0:8]
Y = diabetes.iloc[:,-1]

In [70]:
# import test_train_split module
from sklearn.model_selection import train_test_split
# splitting of dataset(test_size=0.3)
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.3)

In [71]:
#create an instance of Select from Model. Pass an object of Random Forest Classifier with n_estimators=100 as argument.
clf = RandomForestClassifier(n_estimators=100)
sel = SelectFromModel(clf)
# fit sel on X and y 
sel.fit(X,Y)

SelectFromModel(estimator=RandomForestClassifier())

In [72]:
# Using sel.get_support() print the boolean values for the features selected. 
selected_features = sel.get_support()
selected_features

array([False,  True, False, False, False,  True, False,  True])

In [73]:
#make a list named selected_feat with all columns which are True
selected_feat = X.columns[selected_features].tolist()


# print length of selected_feat
len(selected_feat)

3

In [74]:
# Print selected_feat
print(selected_feat)

['Glucose', 'BMI', 'Age']

In [75]:
# import libraries LinearSVC, SelectFromModel , and dependencies

from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel

In [76]:
#Use SelectFromModel with LinearSVC() as its parameter and save it in variable 'm'
svc = LinearSVC()
m = SelectFromModel(svc)

# fit on X, y
m.fit(X,Y)

c:\users\nasee\lib\site-packages\sklearn\svm\_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

SelectFromModel(estimator=LinearSVC())

In [77]:
#make a list named selected_feat with all columns which are supported and count the selected features.

selected_feat = X.columns[m.get_support()].tolist()
# print selected_feat
print(selected_feat)
numselected_features = len(selected_feat)
print(numselected_features)

['Pregnancies', 'DiabetesPedigreeFunction']
2

In [79]:
#load and read the diabetes_cleaned.csv file using pandas and print the head values
dia_df = pd.read_csv('diabetes_cleaned.csv')

# print dia_df
dia_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.0,218.937760,33.6,0.627,50.0,1
1,1.0,85.0,66.0,29.0,70.189298,26.6,0.351,31.0,0
2,8.0,183.0,64.0,29.0,269.968908,23.3,0.672,32.0,1
3,1.0,89.0,66.0,23.0,94.000000,28.1,0.167,21.0,0
4,0.0,137.0,40.0,35.0,168.000000,43.1,2.288,33.0,1

In [81]:
# describe the dataframe using .describe()
dia_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Pregnancies,768.0,3.845052,3.369578,0.000000,1.000000,3.000000,6.000000,17.00
Glucose,768.0,121.539062,30.490660,44.000000,99.000000,117.000000,140.250000,199.00
BloodPressure,768.0,72.405184,12.096346,24.000000,64.000000,72.202592,80.000000,122.00
SkinThickness,768.0,29.108073,8.791221,7.000000,25.000000,29.000000,32.000000,99.00
Insulin,768.0,152.222767,97.387162,-17.757186,89.647494,130.000000,188.448695,846.00
BMI,768.0,32.307682,6.986674,18.200000,27.300000,32.000000,36.600000,67.10
DiabetesPedigreeFunction,768.0,0.471876,0.331329,0.078000,0.243750,0.372500,0.626250,2.42
Age,768.0,33.240885,11.760232,21.000000,24.000000,29.000000,41.000000,81.00
Outcome,768.0,0.348958,0.476951,0.000000,0.000000,0.000000,1.000000,1.00

In [82]:
# import preprocessing
from sklearn import preprocessing

#iterate over all features in dia_df and scale

for i in dia_df:
    dia_df[[i]]=preprocessing.scale(dia_df[[i]]) # code here

In [83]:
# describe dataframe using .describe()
dia_df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02
mean,-6.476301e-17,-4.625929e-18,6.915764e-16,-1.526557e-16,-3.469447e-17,1.272131e-16,2.174187e-16,1.931325e-16,7.401487e-17
std,1.000652e+00,1.000652e+00,1.000652e+00,1.000652e+00,1.000652e+00,1.000652e+00,1.000652e+00,1.000652e+00,1.000652e+00
min,-1.141852e+00,-2.544700e+00,-4.004245e+00,-2.516429e+00,-1.746542e+00,-2.020543e+00,-1.189553e+00,-1.041549e+00,-7.321202e-01
25%,-8.448851e-01,-7.396938e-01,-6.953060e-01,-4.675972e-01,-6.429600e-01,-7.172147e-01,-6.889685e-01,-7.862862e-01,-7.321202e-01
50%,-2.509521e-01,-1.489643e-01,-1.675912e-02,-1.230129e-02,-2.283386e-01,-4.406715e-02,-3.001282e-01,-3.608474e-01,-7.321202e-01
75%,6.399473e-01,6.140612e-01,6.282695e-01,3.291706e-01,3.722209e-01,6.147581e-01,4.662269e-01,6.602056e-01,1.365896e+00
max,3.906578e+00,2.542136e+00,4.102655e+00,7.955377e+00,7.128551e+00,4.983056e+00,5.883565e+00,4.063716e+00,1.365896e+00

In [84]:
# import train_test_split
from sklearn.model_selection import train_test_split

In [86]:
#import variance inflation factor 
import statsmodels.api as sm

In [87]:
# assign features to X and target to Y by analyzing which columns to be dropped and which is to be considered as target
X = dia_df.drop("Outcome", axis=1)
Y = dia_df["Outcome"]



# split the data to test and train with test_size=0.2
x_train,x_test,y_train,y_test = train_test_split(X, Y, test_size=0.2)

In [89]:
#assign an empty dataframe to variable vif
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif = pd.DataFrame()

# make a new column 'VIF Factor' in vif dataframe and calculate the variance_inflation_factor for each X 
vif['Features'] = X.columns
vif['VIF Factor'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

In [90]:
# define vif['Features'] with columns names in X
vif['Features'] = X.columns

In [92]:
#  round off all the decimal values in the dataframe to 2 decimal places for VIF dataframe
vif = vif.round(2)
vif

                   Features  VIF Factor
0               Pregnancies        1.43
1                   Glucose        2.07
2             BloodPressure        1.24
3             SkinThickness        1.43
4                   Insulin        2.04
5                       BMI        1.58
6  DiabetesPedigreeFunction        1.05
7                       Age        1.62

* VIF = 1: Not correlated
* VIF =1-5: Moderately correlated
* VIF >5: Highly correlated

Glucose, Insulin, and Age are having large VIF scores, so lets drop it.

In [93]:
# according to above observation , drop  'Glucose', 'Insulin' and 'Age' from X
X = X.drop(['Glucose', 'Insulin', 'Age'], axis=1)

In [94]:
# create an empty df
vif =pd.DataFrame()

# make a new column 'VIF Factor' and calculate the variance_inflation_factorfor each X
vif['Features'] = X.columns
vif['VIF Factor'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

In [95]:
#define vif['Features'] as columns of X and return vif with round off to 2 decimal places
vif['Features'] = X.columns

# round up to 2 
vif.round(2)

                   Features  VIF Factor
0               Pregnancies        1.05
1             BloodPressure        1.13
2             SkinThickness        1.42
3                       BMI        1.50
4  DiabetesPedigreeFunction        1.03

So now colinearity of features has been reduced using VIF.

------------------------------